html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}

.wrapper_body{
    display: flex;
    flex-wrap: wrap;
}
.left_part{
    min-width: 200px;
    max-width: 200px;
    box-shadow: 7px 0 9px rgb(0 0 0 / 50%);
}
.logo{
    background:#e3454a ;
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.logtext{
    width: 100%;
    color: white;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
}
.menu_des{
    width: 100%;
    min-height: calc(100vh - 60px);
    background: #718096;
}
.menu_lu_desk{
    list-style-type: none;
}
.menu_link{
    color: white;
    text-decoration:none;
    width: 90%;
    margin: auto;
    text-align: center  ;
    margin-left: 20px;
    font-size: 14px;

}
.lu_menu_link{
    padding: 10px;
}
.lu_menu_link:hover{
    background: #e3454a;
}
.right_part{
    width: 80%;
}
.title_div{
    text-align: left;
    width: 100%;
    font-size: 34px;
    color: #e3454a;
    margin-left: 20px;
    margin-top: 20px;
}
.hleb_krohka{
    margin-top: 20px;
    width: 100%;
    margin-left: 18px;
}
.hleb_krohka a{
    color: #e3454a;
}
.list_btn_crud{
    margin-top: 20px;
    width: 100%;
    margin-left: 18px;
}
.list_btn_crud a{
    padding: 10px;
    background: #e3454a;
    color: white;
    border-radius: 10px;
}
.list_btn_crud a:hover{
    background: #718096;
    color: white;
}
.crud_table{
    margin-top: 20px;
    width: 100%;
    margin-left: 18px;
}
.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e3454a;
    color: white;
}
.btn_edit{

    margin: 3px;
    padding: 10px;
    background: #718096;
    color: white;
    border-radius: 10px;
}
.btn_delete{
    margin: 3px;
    padding: 10px;
    background: #e3454a;
    color: white;
    border-radius: 10px;
}
.crud_form{
    width: 100%;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background: #e2e8f0;
    border-radius: 10px;
}
.row_line{
    width: 100%;
}
.form_input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.form_input:focus{
    background-color: lightblue;
}
.form_submit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
